.frame {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
}

.time {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
