<div class="container">
    <div>
        <h1>Hypixel Events</h1>
        <div class="tools">
            <p><a target="_blank" rel="noopener noreferrer" href="https://github.com/iHDeveloper/HypixelEvents" (click)="openGithub()">Github</a></p>
        <p><a target="_blank" rel="noopener noreferrer" href="https://github.com/iHDeveloper/HypixelEvents/issues" (click)="openIssuesTracker()">Issue Tracker</a></p>
        </div>
    </div>
    <div>
        <h1>{{ time }}</h1>
        <p>{{ sbMonth }} {{ sbDay }} {{ (sbHour <= 9) ? '0' + sbHour : sbHour }}:{{ (sbMinute <= 9) ? '0' + sbMinute : sbMinute }} {{ sbPM ? 'PM' : 'AM' }} Year {{ sbYear }}</p>
    </div>
    <div>
        <h1>v{{ version }}</h1>
        <div class="tools">
            <p class="last-updated">{{ lastUpdated }}</p>
            <button class="settings" mat-button color="primary" (click)="openSettings()">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
    </div>
</div>
