.container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;

    h1 {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 35px;
    }
}
